

    
        <table border="1" align="c" id="result">
            <tr>
                <td>Sl no</td>
                <td>Product Name</td>
                <td>Product description</td>
        
                <td>Product price</td>
                <td>Product photo</td>
                <td>Rating</td>
                <td>Product Subcategory</td>
                <td>Product category</td>
                <td>Action</td>
            </tr>
            {% for i,j in product %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.product_name}}</td>
                <td>{{i.product_details}}</td>
                <td>{{i.product_price}}</td>
                <td><img src="{{i.product_photo.url}}" width="150px" height="150px"></td>
                <td> 
                    {% for k in ar %} {% if k <= j %} <i class="fa-solid fa-star text-warning"></i>
                    {% else %}
                    <i class="fa-solid fa-star star-light"></i>
                    {% endif %} {% endfor %}</td>
                <td>{{i.sub_category.subcategory_name}}</td>
                <td>{{i.sub_category.category.category_name}}</td>
                <td><a href="{% url 'User:addcart' i.id %}">ADD CART</a></td>
               
                </td>
        
        
            </tr>
            {% endfor %}
        </table>
    
