<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <table>
            <tr>
                <td></td>
                <td><input type="text" name="Number1" id=""></td>
            </tr>
            <tr>
                <td>Number 1</td>
                <td><input type="text" name="n1" id=""></td>
            </tr>
            <tr>
                <td>Number 2</td>
                <td><input type="text" name="n2" id=""></td>
            </tr>
            <tr>
                <td>Number 3</td>
                <td><input type="text" name="n3" id=""></td>
            </tr>
            <tr>
                
                <td colspan="2" align="center"><input type="check" value=""></td>
            </tr>
            <tr>
                <td>Largest</td>
                <td></td>
            </tr>
            <tr>
                <td>Smallest</td>
                <td></td>
            </tr>
        </table>
    </form>
</body>
</html>